.PlaylistItem-container {
  padding: 8px 16px;
}

.PlaylistItem-container.playing {
  background: #e8e0d5;
  margin-bottom: 8px;
}

.PlaylistItem-thumbnail {
  padding: 8px;
}

.PlaylistItem-img {
  width: 100%;
}

.PlaylistItem-info {
  padding: 8px;
}

.PlaylistItem-name {
  font-weight: bold;
}

.PlaylistItem-singer {
  font-weight: bold;
}

.PlaylistItem-uploader {
  color: grey;
}
