{
  "extends": ["plugin:react/recommended"],
  "plugins": ["react"],
  "rules": {
    "react/display-name": ["off"],
    "global-require": ["off"],
    "class-methods-use-this": ["off"]
  },
  "env": {
    "browser": true
  }
}
