# Testing
coverage/

# Dependencies
node_modules/

# Package management log
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
debug.log

# Enviroment
.env

# Editor
.vscode/
.idea/
.editorconfig
.DS_Store
.dist/
