{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "stage-0"
  ],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  },
  "plugins": ["inline-dotenv"]
}
