{
  "rules": {
    "global-require": ["off"],
    "dot-notation": ["off"],
    "func-names": ["off"],
    "prefer-template": ["off"],
    "no-use-before-define":"off",
    "prefer-arrow-callback": ["off"],
    "object-shorthand":"off",
    "no-var":"off",
    "vars-on-top": "off",
    "no-param-reassign": "off",
    "linebreak-style": "off",
    "no-console": "off"
  }
}
