{
  "extends": "@istanbuljs/nyc-config-babel",
  "reporter": [
    "text",
    "html"
  ],
  "require": [
    "babel-register"
  ],
  "cache": true,
  "sourceMap": false,
  "instrument": false,
  "all": true
}
