.add-link-title {
  padding: 10px 20px 0 20px !important;
}

.add-link-title .primary-title {
  font-size: 24px;
  font-weight: bold;
  margin-right: 20px;
}

.add-link-title .secondary-title {
  color: grey;
}

.add-link-box {
  background-color: #fafafa !important;
  margin: 20px;
  width: 100%;
  padding: 20px;
}

.add-link-box-left {
  /* background: khaki; */
  text-align: end;
}

.link-input {
  max-height: 100px;
  margin-bottom: 10px;
}

.send-icon {
  margin-left: 10px;
  font-size: 18px;
}

.add-link-box-right {
  padding-left: 30px !important;
}

.add-link-box-right .link-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.add-link-box-right .content {
  margin: 0;
  width: 100%;
  height: 100%;
}

.add-link-box-right .content .link-img {
  padding: 0;
}
