/* Override react-scrollbar style */
#root .scrollarea > .scrollbar-container.horizontal,
#root .scrollarea > .scrollbar-container.horizontal > .scrollbar,
#root .scrollarea > .scrollbar-container.vertical,
#root .scrollarea > .scrollbar-container.vertical > .scrollbar
{
  border-radius: 4px;
}

#root .scrollarea > .scrollbar-container {
  z-index: 999;
}

#root .scrollarea > .scrollbar-container > .scrollbar {
  opacity: 0 !important;
  transition: opacity 0.4s;
}

/*#root .scrollarea .scrollbar-container.active .scrollbar,*/
#root .scrollarea:hover > .scrollbar-container > .scrollbar {
  opacity: 0.6 !important;
}
/* Finish overriding react-scrollbar style */
